.Dictionary {
  text-align: center;
}
section {
  background-color: white;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  width: 70%;
  margin: 30px auto;
}
.hint {
  font-size: 10px;
  margin-top: 5px;
}
.form {
  width: 80%;
}
input[type="submit"] {
  width: 30%;
  padding: 6px 4px;
}
input[type="text"],
input[type="search"] {
  width: 70%;
  padding: 6px 4px;
}
